@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.backgroud {
  background-image: url('/public/Fondo.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
}

.loginContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 23.5vw;
  height: fit-content;
  background: rgba(46, 46, 46, 0.46);
  border-radius: 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  padding: 30px;
  box-sizing: border-box;
}

.logo {
  background-image: url('/public/logo/logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10.5vw;
  height: 20vh;
  margin: auto;
}

h4 {
  font-size: 1.9rem;
  color: white;
  margin-bottom: 3vh;
  margin-top: -3vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputGroup {
  width: 95%;
  position: relative;
  margin: 20px;
}

input {
  position: relative;
  margin-bottom: -8px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #c0c0c0;
  padding: 1.5vh 3vw 1.5vh 1.5vw;
  border-radius: 32.5px;
  border: 1px solid #c0c0c0;
  background: transparent;
  transition: 0.1s ease;
  z-index: 1;
}
.pointer {
  cursor: pointer;
}

.icon {
  position: absolute;
  left: 89%;
  top: 60%;
  transform: translateY(-50%);
  width: 23px;
  height: 4vh;
  z-index: 10;
}

.labelline {
  position: absolute;
  top: 60%;
  left: 20px;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #c0c0c0;
  transition: 0.2s ease;
  pointer-events: none;
  background: transparent;
  z-index: 1;
}

input:focus ~ .labelline,
input:not(:placeholder-shown) ~ .labelline {
  height: 30px;
  padding: 0 12px;
  transform: translate(-5px, -40px) scale(0.8);
  background-color: #202020;
  border: 1px solid #c0c0c0;
  border-radius: 20px;
  z-index: 1111111;
}

.btn {
  position: relative;
  width: 100%;
  margin-top: 10px;
  padding: 1.5vh 3vw;
  font-size: 1.2rem;
  border-radius: 32.5px;
  border: #202020;
  background-color: #202020;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #292929;
}

.aBlock {
  margin: auto;
  display: block;
  text-align: center;
  color: #d9d9d9;
  font-size: 1.1rem;

  text-decoration: underline;

  cursor: pointer;
}

.blond {
  font-weight: 600;
}

.loginContainer .errors {
  width: 95%;
  padding: 1vh 0.3vw 0.3vw 1vw;
  margin-bottom: 15px;
  background-color: rgba(206, 57, 60, 0.6);
  border: 1px solid #d71d1d;
  border-radius: 32.5px;
  color: white;
  font-size: 0.9rem;
}

.accountRecoveryText {
  color: #c0c0c0;
  font-size: 1.2rem;
  text-align: center;
}

.mfaContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5%;
}

.otpContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 5% 0 7.5% 0;
  width: 90%;
}

.otpInput {
  padding: 3% 1%;
  text-align: center;
  font-size: 1.25rem;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s ease;
}

.otpInputError {
  padding: 3% 1%;
  text-align: center;
  font-size: 1.25rem;
  border: 2px solid rgba(215, 29, 29, 0.8);
  border-radius: 8px;
  color: #c0c0c0;
  outline: none;
  transition: border-color 0.3s ease;
}

.otpInput:focus {
  border-color: #00b4d8;
  box-shadow: 0 0 5px rgba(0, 150, 199, 0.5);
}
