* {
  font-family: 'Montserrat', sans-serif;
}

.header {
  width: 100%;
  padding-left: 3%;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  color: $color-white;
  font-weight: bold;
}

.circle {
  width: 10px;
  height: 10px;
  background-color: $color-primary;
  border-radius: 50%;
  margin-right: 8px;
  margin-bottom: 15px;
}

.tableActionsContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;

  margin: 0 auto;
}

.filterButton {
  display: flex;
  position: relative;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  background-color: $color-gray-dark;
  gap: 10%;
  color: $color-white;
  border: none;
  border-radius: 20px;
}

.buttonAdd {
  color: $color-white;
  background-color: $color-primary;
  border: 1px solid $color-primary;

  border-radius: 20px;
  padding: 0.5rem 1rem;
  font-weight: 600;
  transition: all 0.4s;
}

.buttonAdd:hover {
  background-color: transparent;
  border: 1px solid $color-primary;
}

.tableActionsContainerBuscar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin: 0 5px;
}

.tableSearchInput {
  width: 140%;
  background-color: $color-gray-dark;
  border: none;
  height: 2.5rem;
  border-radius: 20px;
}

.boxContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 5px 40px;
}

.box {
  position: relative;
  width: 100%;
  height: 32vh;
  padding: 10px;
  background-color: $box-background-color;
  border-radius: 20px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  margin: 10px;
}

.contentBox {
  position: relative;
  margin: 20px 10px 10px 10px;
}

.titleBoxDate {
  color: white;
  margin: 20px 0 0 0;
}

.titleBox {
  color: white;
  margin: 0;
}

.line {
  width: 100%;
  margin: 0;
}

.productListContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 23vh;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: #1a1a1a;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #3a3a3a;
    border-radius: 10px;
    border: 2px solid #1a1a1a;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: #777;
  }
}

.productListEmptyContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
}

.loadingSpinner {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.productInfo {
  display: flex;
  flex-direction: column;
  align-items: left;
  color: white;
  width: 60%;
}

.infoName {
  margin: 0;
  font-weight: 800;
}

.priceButtonContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  background-color: $color-primary;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 5px 5px;
}

.productInfoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  width: 31%;
  height: auto;
  border-radius: 10px;
  background-color: #282828;
  padding: 10px;
}

.infoUnit {
  margin: 0;
  font-size: 0.8rem;
}

.boxTableResumen {
  position: relative;
  display: flex;
  width: 100%;
  height: 34vh;
  padding: 10px;
  background-color: $box-background-color;
  border-radius: 20px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  margin: 10px;
}

.tableContainer {
  position: relative;
  width: 70%;
  height: 100%;
}

.resumenContainer {
  position: relative;
  width: 30%;
  height: 100%;
}

.verticalLine {
  background-color: $color-gray-dark;
  width: 3px;
  height: 100%;
}

.table {
  width: 99%;
  margin: 10px 0;
  color: white;
  border-collapse: collapse;
}
.table th {
  border-bottom: 2px solid $color-gray-dark;
  text-align: center;
  padding-bottom: 4px;
}
.table td {
  border-bottom: 2px solid $color-gray-dark;
  padding: 8px;
}

td:nth-child(2),
td:nth-child(3),
td:nth-child(4),
td:nth-child(5) {
  text-align: center;
  padding: 20px 10px;
}

.scrollContainer {
  max-height: 25vh;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: #1a1a1a;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #3a3a3a;
    border-radius: 10px;
    border: 2px solid #1a1a1a;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: #777;
  }
}

.circleBtn {
  width: 30px;
  height: 30px;
  background-color: $color-primary;
  border-radius: 50%;
  border: 1px solid $color-primary;
  margin: 0 10px;
  transition: 0.3s ease;
  &:hover {
    background-color: transparent;
  }
}

.thSales:nth-child(1),
.thSale:nth-child(2),
.thSale:nth-child(3),
.thSale:nth-child(4) {
  width: 20%;
}

.productCategory {
  font-size: 0.8rem;
  margin: 0;
}

.buttonReset {
  all: unset;
  cursor: pointer;
}

.p1 {
  margin: 0;
  padding: 0 5px;
  color: white;
}
.p {
  margin: 0;
  padding: 15px 5px;
  color: white;
}

.lineResumen {
  width: 100%;
  margin: 0;
}

.resumenContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btnContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.buttonRegsiter {
  position: absolute;
  color: $color-white;
  background-color: $color-primary;
  border: 1px solid $color-primary;
  margin-right: 10px;
  border-radius: 15px;
  padding: 1vb;
  font-weight: 600;
  transition: all 0.4s;
  &:hover {
    background-color: transparent;
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus + .placeholder,
input:not(:placeholder-shown) + .placeholder {
  top: -10px;
  font-size: 12px;
  color: #333;
}

.placeholder {
  position: absolute;
  left: 10px;
  top: 10px;
  color: #aaa;
  pointer-events: none;
  transition: 0.2s;
}

.productListEmptyContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
}

.loadingSpinner {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.selectFilter {
  width: 22vw;
  margin: 17px 0px;
  padding: 7px 12px;
  font-size: 1rem;
  border: none;
  border-radius: 32.5px;
  background-color: #363636;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
  transition: border-color 0.3s ease;

  &:focus {
    outline: none;
    box-shadow: 0 0 5px $color-primary;
  }

  &:hover {
    border-color: #888;
  }
}

.select:disabled {
  background-color: #f0f0f0;
  color: #999;
}

.formGroup {
  margin: 15px auto 15px -10px;
  flex-basis: 48%;
  display: flex;
  flex-direction: column;
}

.formFilter {
  display: flex;
  padding-left: 1.5vw;
}

.priceContainer {
  margin: 17px 0px;
  width: 22vw;
  display: flex;
  gap: 1vw;
}

.inputQuantity {
  width: 30%;
  height: 3.5vh;
  padding: 7px 12px;
  font-size: 1rem;
  border: none;
  text-align: center;
  border-radius: 15px;
  background-color: $color-dark-primary;
  transition: border-color 0.3s ease;

  &:focus {
    outline: none;
    box-shadow: 0 0 5px $color-primary;
  }

  &:hover {
    border-color: #888;
  }
}

.modalLabel {
  color: white;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(32, 32, 32, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color: white;
}

.detailsContainer {
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: fit-content;
  border-radius: 30px;
  background-color: #282828;
}

.modalContents {
  margin: 3vb;
}

.headerDetails {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0;
  margin-bottom: 20px;
}

.iconClose {
  position: relative;
  cursor: pointer;
}

.theadSaleDetails {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.tableSaleDetails {
  width: 100%;
}

.title {
  font-size: 2.5rem;
  font-weight: 800;
}

.thSaleDetails {
  padding: 10px 0;
}

.thSaleDetails:nth-child(2),
.thSaleDetails:nth-child(3),
.thSaleDetails:nth-child(4),
.thSaleDetails:nth-child(5) {
  text-align: center;
}

.thSaleDetails:nth-child(1) {
  text-align: left;
}

.tdSaleDetails:nth-child(2),
.tdSaleDetails:nth-child(3),
.tdSaleDetails:nth-child(4),
.tdSaleDetails:nth-child(5) {
  width: 10%;
  padding: 20px 0;
  align-items: center;
}

.trSaleDetails:last-child {
  border-bottom: 1px solid white;
}

.listSales {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 50vh;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: #1a1a1a;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #3a3a3a;
    border-radius: 10px;
    border: 2px solid #1a1a1a;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: #777;
  }
}

.boxResults {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.results {
  display: flex;
  height: fit-content;
  justify-content: space-between;
  width: 30%;
  margin: 5px 0;
  padding: 0 7px;
}

.infoResults {
  margin: 10px 0;
}

.margin {
  margin: 0 10px;
}

.inputDate {
  width: 40%;
  height: 3.5vh;
  margin: 10px 0;
  padding: 7px 12px;
  font-size: 1rem;
  border: none;
  border-radius: 32.5px;
  background-color: $color-dark-primary;
  transition: border-color 0.3s ease;

  &:focus {
    outline: none;
    box-shadow: 0 0 5px $color-primary;
  }

  &:hover {
    border-color: #888;
  }
}
.commentBox {
  width: 100%;
  resize: none;
  border: none;
  margin-top: 10px;
  background-color: $color-dark-primary;
  color: white;
  border-radius: 10px;
  padding: 8px;
  &:focus {
    outline: none;
    box-shadow: 0 0 5px $color-primary;
  }

  &:hover {
    border-color: #888;
  }
}

.marginHeader {
  margin-bottom: 15px;
}

.productName {
  font-weight: 800;
}

.boxContainerInventory {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 76%;
  padding: 2.5vh 1.5vw 1vh 1.5vw;
  gap: 2vb;
}

.boxInventory {
  position: relative;
  width: 55%;
  height: 100%;
  padding: 10px;
  background-color: rgb(22, 22, 22);
  border-radius: 20px;
}

.boxInventoryProducts {
  position: relative;
  width: 45%;
  height: 100%;
  padding: 10px;
  background-color: rgb(22, 22, 22);
  border-radius: 20px;
}

.contentBoxInventory {
  position: relative;
  margin: 10px 10px 10px 10px;
}

.tableIcomes {
  width: 99%;
}

.theadIcomes {
  border-bottom: 1px solid white;
}

.thIcomes:nth-child(2),
.thIcomes:nth-child(3),
.thIcomes:nth-child(4),
.thIcomes:nth-child(5) {
  text-align: center;
}

.thIcomes:nth-child(1) {
  text-align: left;
}

.tableContainerIcomes {
  width: 100%;
  padding: 0 0 0 20px;
  color: white;
}

.scrollContainerIncomes {
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 55vh;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: #1a1a1a;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #3a3a3a;
    border-radius: 10px;
    border: 2px solid #1a1a1a;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: #777;
  }
}

.tdIcomes {
  font-size: 0.9rem;
}

.tdIcons {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.tableSearchInput {
  width: 60%;
  background-color: $color-gray-dark;
  border: none;
  height: 2.5rem;
  border-radius: 20px;
}

.tableSearchComponent {
  width: 40%;
  display: flex;
  gap: 5%;
}

.infoIncome {
  color: white;
  margin: 0 20px;
  font-size: 0.9rem;
}

.dataIncome {
  margin: 5px 0;
}

.titleBoxInventory {
  color: white;
  margin: 0;
  padding: 0 0 0 5px;
  font-weight: 600;
}

.containerData {
  padding: 10px 0;
}
.tdDetailsName {
  font-weight: 700;
}

.tdDetailsCate {
  font-size: 0.8rem;
  margin: 0;
}

.tdDetails:nth-child(2) {
  padding: 10px;
}

.tableIcomesArituculos {
  width: 95%;
  margin-left: 20px;
}

.tableContainerIcomesArticulos {
  color: white;
}

.scrollContainerIncomesArticulos {
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 45vh;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: #1a1a1a;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #3a3a3a;
    border-radius: 10px;
    border: 2px solid #1a1a1a;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: #777;
  }
}

.thIcomesArticulo:nth-child(2) {
  text-align: center;
  width: 40%;
}

.thIcomesArticulo:nth-child(1) {
  text-align: left;
  width: 60%;
}
