* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.backgroud {
  background-image: url('/Fondo.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.sideBar {
  width: fit-content;
  height: 95vh;
  margin: 20px;
  left: 0;
  background-color: $box-background-color;
  border-radius: 24px;
  align-items: center;
  justify-content: center;
  transition: width 1s ease;
}

.sideBar:hover {
  width: +7%;
  span {
    opacity: 1;
    transition: 0.1s ease;
  }
}

.navItems {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  height: 85%;
}

.logo {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.navItem {
  position: relative;
  display: table;

  width: 100%;
  font-size: 180%;
  align-items: center;
  justify-content: center;
}

.itemContainer {
  position: relative;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 10vh;
  border-radius: 10px;
}

hr {
  border: none;
  height: 2px;
  background-color: $text-lines-color;
  width: 50%;
  margin: auto;
  margin-top: 3vh;
}

ul {
  padding: 0;
  margin-top: 0;
}
span {
  position: relative;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  color: white;
  opacity: 0;
}
