.header {
  width: 100%;
  padding-left: 3%;
  margin-top: 3%;
  display: flex;
  height: 15%;
  flex-direction: column;
}
.container {
  height: 90%;
  width: 100%;
}
.title {
  color: $color-white;
  font-weight: bold;
}

.graphicsContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: -2.5%;
  flex-wrap: wrap;
  gap: 5%;
  padding: 0 4%;
}
.graphicTitle {
  font-weight: 600;
  color: #cbc9e0;
  letter-spacing: 0.25px;
}

.graphicSubtitle {
  font-weight: 400;

  color: #abaac1;

  letter-spacing: 0.25px;
}
