* {
  font-family: 'Montserrat', sans-serif;
}

.header {
  width: 100%;
  padding-left: 3%;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  color: $color-white;
  font-weight: bold;
}

.circle {
  width: 10px;
  height: 10px;
  background-color: $color-primary;
  border-radius: 50%;
  margin-right: 8px;
  margin-bottom: 15px;
}

.saleInformationContainer {
  display: flex;
  margin-left: 0.5%;
  align-items: center;
}

.saleInfoTitle {
  color: $color-white;
}

.tableActionsContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;

  margin: 0 auto;
}

.filterButton {
  display: flex;
  position: relative;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  background-color: $color-gray-dark;
  gap: 10%;
  color: $color-white;
  border: none;
  border-radius: 20px;
}

.buttonAdd {
  color: $color-white;
  background-color: $color-primary;
  border: none;

  border-radius: 20px;
  padding: 0.5rem 1rem;
  font-weight: 600;
  transition: all 0.4s;
}

.buttonAdd:hover {
  background-color: transparent;
  border: 1px solid $color-primary;
}

.boxContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 10px 40px;
}

.box {
  position: relative;
  width: 100%;
  height: 32vh;
  padding: 10px;
  background-color: $box-background-color;
  border-radius: 20px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  margin: 10px;
}

.contentBox {
  position: relative;

  margin: 10px;
}

.tableSearchInput {
  width: 140%;
  background-color: $color-gray-dark;
  border: none;
  height: 2.5rem;
  border-radius: 20px;
}

.titleBox {
  color: white;
  margin: 0;
}

.line {
  width: 100%;
  margin: 0;
}

.productInfoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  width: 31%;
  height: auto;
  border-radius: 10px;
  background-color: #282828;
  padding: 10px;
}

.productInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 60%;
}

.priceButtonContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.priceInfo {
  color: white;
  margin-right: 10px;
}

.btn {
  background-color: $color-primary;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 5px 5px;
}

.productListContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 23vh;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: #1a1a1a;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #3a3a3a;
    border-radius: 10px;
    border: 2px solid #1a1a1a;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: #777;
  }
}

//----------------------------------------------------------------------------------------------------------------------------------
.boxTableResumen {
  position: relative;
  display: flex;
  width: 100%;
  height: 32vh;
  padding: 10px;
  background-color: $box-background-color;
  border-radius: 20px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  margin: 10px;
}

.tableContainer {
  position: relative;
  width: 70%;
  height: 100%;
  padding: 10px;
}

.resumenContainer {
  position: relative;
  width: 30%;
  height: 100%;
  padding: 10px;
}

.verticalLine {
  background-color: $color-gray-dark;
  width: 3px;
  height: 100%;
}

.table {
  width: 99%;
  color: white;
  border-collapse: collapse;
}
.table th {
  border-bottom: 2px solid $color-gray-dark;
  text-align: center;
}
.table td {
  border-bottom: 2px solid $color-gray-dark;
  padding: 8px;
}

td:nth-child(2),
td:nth-child(3),
td:nth-child(4),
td:nth-child(5) {
  text-align: center;
  padding: 20px 10px;
}

.scrollContainer {
  max-height: 28vh;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: #1a1a1a;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #3a3a3a;
    border-radius: 10px;
    border: 2px solid #1a1a1a;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: #777;
  }
}

.circleBtn {
  width: 30px;
  height: 30px;
  background-color: $color-primary;
  border-radius: 50%;
  border: 1px solid $color-primary;
  margin: 0 10px;
  transition: 0.3s ease;
  &:hover {
    background-color: transparent;
  }
}
s th:nth-child(1),
th:nth-child(2),
th:nth-child(3),
th:nth-child(4) {
  width: 20%;
}

.productCategory {
  font-size: 0.7rem;
  margin: 0;
}

.buttonReset {
  all: unset;
  cursor: pointer;
}

.p1 {
  margin: 0;
  padding: 0 5px;
  color: white;
}
.p {
  margin: 0;
  padding: 15px 5px;
  color: white;
}

.lineResumen {
  width: 100%;
  margin: 0;
}

.resumenContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputDesc {
  width: 25%;
  height: 3vh;
  padding: 10px;
  background-color: $color-dark-primary;
  border: none;
}

.buttonRegsiter {
  color: $color-white;
  background-color: $color-primary;
  border: 1px solid $color-primary;
  margin-right: 20px;
  border-radius: 15px;
  padding: 1vb;
  font-weight: 600;
  transition: all 0.4s;
  &:hover {
    background-color: transparent;
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus + .placeholder,
input:not(:placeholder-shown) + .placeholder {
  top: -10px;
  font-size: 12px;
  color: #333;
}

.placeholder {
  position: absolute;
  left: 10px;
  top: 10px;
  color: #aaa;
  pointer-events: none;
  transition: 0.2s;
}

.productListEmptyContainer {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  align-items: center;
  justify-content: center;
}

.loadingSpinner {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
