.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: visible;
  z-index: 10000;
  gap: 10rem;
}

.text {
  position: absolute;
  text-align: center;
  text-justify: center;
  font-size: 2rem;
  margin-top: 3rem;
  font-weight: 600;
  font-family: "Inter";
  color: white;
}
