.header {
  width: 100%;
  padding-left: 3%;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  color: $color-white;
  font-weight: bold;
}

.productInformationContainer {
  display: flex;
  margin-left: 0.5%;
  align-items: center;
}

.productInfoTitle {
  color: $color-white;
}

.tableActionsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 35px;
  padding: 0 5% 0 3%;
}

.tableSearchComponent {
  width: 50%;
  display: flex;
  gap: 5%;
}

.filterButton {
  background-color: $color-gray-dark;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  color: $color-white;
  border: none;
  border-radius: 20px;
  width: 15%;
}

.tableSearchInput {
  width: 60%;
  background-color: $color-gray-dark;
  border: none;
  height: 2.5rem;
  border-radius: 20px;
  padding: 3%;
  color: white;
  &:focus {
    outline: none;
    box-shadow: 0 0 5px $color-primary;
  }
}

.buttonAdd {
  color: $color-white;
  background-color: $color-primary;
  border: 1px solid $color-primary;
  border-radius: 20px;
  padding: 0.5% 1.5%;
  font-weight: 600;
  transition: all 0.4s;
}

.buttonAdd:hover {
  background-color: transparent;
  border: 1px solid $color-primary;
}

.tableFooter {
  width: 95%;
  height: 5vh;
  border-top: 1px solid #979797;
  display: flex;
  margin: 0 auto;
  justify-content: end;
  opacity: 100%;
}

.paginatorContainer {
  background-color: #292929;
  color: #ffff;
  width: 15rem;
  margin-top: 10px;
  border-radius: 10px;
}

.paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 0.75rem;
  font-size: 0.95rem;
}
.registerHeading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(32, 32, 32, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.registerContainer {
  position: absolute;
  width: 27vw;
  height: fit-content;
  border-radius: 30px;
  background-color: #282828;
  overflow-y: auto;
}

.titleRegister {
  font-size: 2rem;
  color: white;
  margin: 2vb 0 0 4vb;
}

.line {
  position: relative;
  margin: 0;
  width: 25vw;
  height: 0.5px;
}

.line10 {
  width: 90%;
  color: white;
  background-color: white;
  border: white;
  margin: auto;
  height: 0.5px;
}

.modalContents {
  margin: 3vb;
}

.iconClose {
  margin-right: 5%;

  cursor: pointer;
}

.modalLabel {
  color: white;
}

.infoProduct {
  width: 100%;
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.modalInput {
  margin: 2vh 0;
  font-size: 0.9rem;
  height: 1vh;
  padding: 2vb;
  width: 100%;
  border-radius: 20px;
  color: white;
  background-color: #363636;
  border: none;
  &:focus {
    outline: none;
    box-shadow: 0 0 5px $color-primary;
  }
}

form {
  margin-top: 1vh;
}

.btn {
  position: relative;
  height: 5vh;
  color: $color-white;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: 600;
  background-color: $color-primary;
  border: 1px solid $color-primary;
  transition:
    background-color 0.3s,
    border 0.3s;
}

.btnSelect {
  position: relative;
  height: 4vh;
  color: $color-white;
  border-radius: 20px;
  font-size: 0.9rem;
  width: 9vw;
  background-color: $color-primary;
  border: 1px solid $color-primary;
  transition:
    background-color 0.3s,
    border 0.3s;
}

.btnSelect:hover {
  background-color: transparent;
}

.labelBtnContainer {
  display: flex;
  justify-content: left;
}
.btnRegister {
  margin-right: 2vw;
}

.btnRegister:hover {
  background-color: transparent;
  border: 1px solid $color-primary;
}

.btnCancel {
  background-color: transparent;
  border: 1px solid $color-primary;
}

.btnCancel:hover {
  background-color: $color-primary;
}

.btnBox {
  position: relative;
  width: 100%;
  margin: 1vh 0;
}

.error {
  width: 100%;
  height: 3vh;
  padding: 0.3vh 0.3vw 0.3vw 1vw;
  margin-bottom: 15px;
  background-color: rgba(206, 57, 60, 0.6);
  border: 1px solid #d71d1d;
  border-radius: 32.5px;
  color: white;
  font-size: 0.9rem;
}

.select {
  width: 100%;
  margin: 15px 0px;
  padding: 7px 12px;
  font-size: 1rem;
  border: none;
  border-radius: 32.5px;
  background-color: #363636;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
  transition: border-color 0.3s ease;

  &:focus {
    outline: none;
    box-shadow: 0 0 5px $color-primary;
  }

  &:hover {
    border-color: #888;
  }
}

.select:disabled {
  background-color: #f0f0f0;
  color: #999;
}

.formGroup {
  margin: 10px auto 10px -10px;
  flex-basis: 48%;
  display: flex;
  flex-direction: column;
}

.formFilter {
  display: flex;
  flex-direction: column;
  padding-left: 1.5vw;
}

.filterInput {
  margin: 2vh 0;
  padding: 2vb;
  width: 22vw;
  height: 4vh;
  background-color: #363636;
  border: none;
  &:focus {
    outline: none;
    box-shadow: 0 0 5px $color-primary;
  }
}

.selectFilter {
  width: 22vw;
  margin: 17px 0px;
  padding: 7px 12px;
  font-size: 1rem;
  border: none;
  border-radius: 32.5px;
  background-color: #363636;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
  transition: border-color 0.3s ease;

  &:focus {
    outline: none;
    box-shadow: 0 0 5px $color-primary;
  }

  &:hover {
    border-color: #888;
  }
}

.select:disabled {
  background-color: #f0f0f0;
  color: #999;
}

.priceContainer {
  margin: 17px 0px;
  width: 22vw;
  display: flex;
  gap: 1vw;
}

.inputPrice {
  width: 100%;
  padding: 7px 12px;
  font-size: 1rem;
  border: none;
  color: white;
  border-radius: 32.5px;
  background-color: #363636;
  transition: border-color 0.3s ease;

  &:focus {
    outline: none;
    box-shadow: 0 0 5px $color-primary;
  }

  &:hover {
    border-color: #888;
  }
}

.modalInputDesabled {
  margin: 2vh 0;
  padding: 2vb;
  width: 25vw;
  height: 4vh;
  background-color: #5f5f5f;
  border: none;
  &:focus {
    outline: none;
    box-shadow: 0 0 5px $color-primary;
  }
}

.formProduct {
  width: 50%;
  padding: 0 1% 1% 1%;
  margin: 1%;
  border-radius: 15px;
  background-color: $box-background-color;
}

.selectOptions {
  width: 50%;
  padding: 1%;
  margin: 1%;
  flex-direction: column;
  border-radius: 15px;
  background-color: $box-background-color;
}

.sectionContainer {
  display: flex;
  flex-direction: row;
}

.infoProductSelectContainer {
  width: 100%;
  margin: 2% 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selectContainer {
  width: 100%;
}

.tableActionsContainertable {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 0 40px 20px;
}
.optionSelect {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.btnS {
  position: relative;
  height: 4vh;
  color: $color-white;
  border-radius: 20px;
  font-size: 0.9rem;
  width: 9vw;
  background-color: transparent;
  border: 1px solid $color-primary;
  transition:
    background-color 0.3s,
    border 0.3s;
}

.btnS:hover {
  background-color: $color-primary;
}

.title2 {
  color: white;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 1.3rem;
  margin: 4vh 0;
}

.btnContainerProd {
  width: 40%;
  display: flex;
  flex-direction: row-reverse;
  gap: 5%;
}

.animatedSelectContainer {
  opacity: 0;
  transform: translateY(-15px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
}

.formUpdate {
  padding: 5vb;
}

.inputPorcentaje {
  width: 22vw;
  padding: 7px 12px;
  font-size: 1rem;
  margin: 15px 0 20px 0;
  border: none;
  color: white;
  border-radius: 32.5px;
  background-color: #363636;
  transition: border-color 0.3s ease;

  &:focus {
    outline: none;
    box-shadow: 0 0 5px $color-primary;
  }

  &:hover {
    border-color: #888;
  }
}
